@use 'variables'
@use 'mixins'

*
    padding: 0
    margin: 0
    font-family: variables.$font-family

.container
    @include mixins.flex-center
    @include mixins.container

    @include mixins.mobile
        padding: 1.1rem

.center
    margin-top: 170px
    width: 400px
    height: 425px
    
    @include mixins.mobile
        margin-top: 50px
        width: 100vw
        height: 100vh

.header
    width: 400px
    height: 70px

    text-align: center

    @include mixins.mobile
        width: 100vw
        height: 100px

    .title
        font-size: 2em
        // padding: 5px

    span
        font-size: 22px
        opacity: .7

.globo
    width: 400px
    height: 170px
    padding: 5px

    display: flex
    justify-content: center
    align-items: center

    @include mixins.mobile
        width: 100vw
        height: 100px

    &-img
        img
            width: 115px
            height: 115px

            @include mixins.mobile
                width: 100px
                height: 100px

.cities
    width: 400px
    height: 150px
    
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

    @include mixins.mobile
        width: 100vw
        height: 100px
    
    &-item
        padding: 1.2em

        span
            background-color: variables.$bg-color
            color: variables.$text-color-white
            font-size: 1.2em
            opacity: .9

            @include mixins.mobile
                font-size: 1em

.container-weather
    color: variables.$bg-color

    @include mixins.container

    @include mixins.mobile
        padding: 1.1rem

.default
    background: variables.$bg-color
    color: variables.$text-color-white

.snowy
    background: variables.$snowy-color
    color: variables.$text-color-black

.sunny
    background: variables.$sunny-color
    color: variables.$text-color-white

.rainy
    background: variables.$rainy-color
    color: variables.$text-color-white

.nav
    height: 10%

    &-icon
        margin-left: 25px
        margin-top: 25px
        font-size: 25px

.weather
    @include mixins.flex-center

    text-align: center
    margin-top: 45px

    p
        font-size: 30px
        padding: 10px

    span
        font-size: 20px

.temp
    display: flex
    justify-content: center
    align-items: center
    margin-top: 30px

    &-now
        font-size: 105px
        height: 100px

        &-others
            width: 58px

            &-ground
                display: flex
                justify-content: right
                align-items: right
                margin-top: 0px
                font-weight: bold
                font-size: 25px

            &-max
                display: flex
                justify-content: space-between
                margin-top: 20px
                padding-bottom: 5px

            &-min
                display: flex
                justify-content: space-between

.temp-img
    @include mixins.flex-center

    padding: 30px

.others
    @include mixins.flex-center

    &-grid
        width: 120px
        text-align: center

        p
            font-size: 14px
            padding: 7px
            opacity: .5

        span
            font-size: 13px
