@use 'variables'

@mixin container
    height: variables.$container-height
    width: variables.$container-width

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin mobile()
    @media(max-width: 320px)
        @content
        
        font-size: 15px

@mixin gradient($color...)
    background: nth(nth($color, 1), 1)
    background: -webkit-linear-gradient($color)
    background: linear-gradient($color)
