$primary-color: #000
$secondary-color: #20c997
$text-color: #fff
$bg-color: #0F0F0F

$container-height: 100vh

$font-family: 'Comfortaa', cursive

$sunny-color: linear-gradient(180deg, #57cbdc 0%, #3AA0B5 100%)
$rainy-color: #606877
$snowy-color: #E0E0E0