@use 'fonts'
@use 'variables'
@use 'mixins'

*
    padding: 0
    margin: 0
    font-family: variables.$font-family

.container
    @include mixins.flex-center
    @include mixins.container

    @include mixins.mobile
        padding: 1rem

.center
    width: 400px
    height: 425px
    margin-top: 170px

    @include mixins.mobile
        margin-top: 50px
        width: 100vw
        height: 100vh

.header
    width: 400px
    height: 70px

    text-align: center

    @include mixins.mobile
        width: 100vw
        height: 100px

    .title
        font-size: 2.3em

    span
        font-size: 1.7em
        opacity: .7

.globe
    width: 400px
    height: 170px
    padding: 5px

    display: flex
    justify-content: center
    align-items: center

    @include mixins.mobile
        width: 100vw
        height: 100px

    &-img
        img
            width: 115px
            height: 115px

            @include mixins.mobile
                width: 100px
                height: 100px

.cities
    width: 400px
    height: 150px

    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

    @include mixins.mobile
        width: 100vw
        height: 100px

    &-item
        padding: 1.5em

        @include mixins.mobile
            padding: 2em

        span
            background-color: variables.$bg-color
            color: variables.$text-color-white
            font-size: 1.4em

            @include mixins.mobile
                font-size: 1em

.container-weather
    color: variables.$bg-color

    @include mixins.container

    @include mixins.mobile
        padding: 1.1rem
        
    &-center
        display: flex
        justify-content: center
        align-items: center

        width: 450px
        height: 425px

        margin: auto

        @include mixins.mobile
            width: 400px
            
.nav
    height: 10%

    &-icon
        margin-left: 25px
        margin-top: 25px
        font-size: 1.6em

.weather
    text-align: center
    margin-top: 9em

    p
        font-size: 2.1em
        font-weight: 500
        padding: 5px

    span
        font-size: 1.5em
        opacity: .8

.temp
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25px
    height: 80px

    &-now
        font-size: 7em

        &-others
            width: 58px

            &-icon
                font-size: .9em
                padding-left: .7em

            &-font
                font-size: 1em

            &-ground
                display: flex
                justify-content: right
                align-items: right
                font-weight: bold
                font-size: 1.7em

            &-max
                display: flex
                justify-content: space-between
                margin-top: 12px
                padding-bottom: 5px

            &-min
                display: flex
                justify-content: space-between

.temp-img
    @include mixins.flex-center
    
    padding-top: 10px

    img
        height: 120px

.forcast
    @include mixins.flex-center

    padding-top: 4em
    padding-bottom: 60px

    &-time
        text-align: center
        height: 50px
        width: 90px

        span
            font-size: 1em

        p
            font-size: 1.1em

.others
    @include mixins.flex-center

    padding-top: 2em

    @include mixins.mobile
        padding: 5px
    
    &-grid
        height: 50px
        width: 6.3em
        text-align: center

        p
            font-size: 1em
            opacity: .5
            padding: 10px

            @include mixins.mobile
                font-size: .7em

        span
            font-size: .9em

            @include mixins.mobile
                font-size: .6em

    hr
        margin-top: 1.4em
        height: 1.5em
        opacity: .3

.default
    background: variables.$bg-color
    color: variables.$text-color-white
    border-color: variables.$text-color-white

.snowy
    background: variables.$snowy-color
    color: variables.$text-color-black
    border-color: variables.$text-color-black

.sunny
    background: variables.$sunny-color
    color: variables.$text-color-white
    border-color: variables.$text-color-white

.rainy
    background: variables.$rainy-color
    color: variables.$text-color-white
    border-color: variables.$text-color-white